
@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway/Raleway-Regular.eot');
    src: url('../Fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('../Fonts/Raleway/Raleway-Regular.woff') format('woff'),
        url('../Fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
        url('../Fonts/Raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway/Raleway-Medium.eot');
    src: url('../Fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
        url('../Fonts/Raleway/Raleway-Medium.woff') format('woff'),
        url('../Fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
        url('../Fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway/Raleway-SemiBold.eot');
    src: url('../Fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../Fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
        url('../Fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'),
        url('../Fonts/Raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway/Raleway-Bold.eot');
    src: url(../Fonts/Raleway/'Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('../Fonts/Raleway/Raleway-Bold.woff') format('woff'),
        url('../Fonts/Raleway/Raleway-Bold.ttf') format('truetype'),
        url('../Fonts/Raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Patrick Hand';
    src: url('../Fonts/PatrickHand/PatrickHand-Regular.eot');
    src: url('../Fonts/PatrickHand/PatrickHand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PatrickHand/PatrickHand-Regular.woff2') format('woff2'),
        url('../Fonts/PatrickHand/PatrickHand-Regular.woff') format('woff'),
        url('../Fonts/PatrickHand/PatrickHand-Regular.ttf') format('truetype'),
        url('../Fonts/PatrickHand/PatrickHand-Regular.svg#PatrickHand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



